main {
    background: transparent url("../../../assets/imgs/bg_home.png") 0% 0% no-repeat padding-box;
    direction: rtl;
    position: relative;
    top: 142px;
    z-index: 1;
}

main::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/imgs/bg.png");
    z-index: -1;
}

// kg-container

.kg-container {
    height: 808px;
    display: flex;
    align-items: flex-end;
    background: transparent url("../../../assets/imgs/image_register.png") 0% 0% no-repeat padding-box;
}

.kg-container .kg-text h3 {
    font: 72px/80px AlmaraiLight;
    letter-spacing: 0px;
    color: #a5dc79;
    position: relative;
    z-index: 1;
}

.kg-container .kg-text h3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/imgs/title_gradient.png");
    z-index: -1;
}

.kg-container .kg-text p {
    text-align: center;
    font: 18px/27px AlmaraiReg;
    letter-spacing: 0px;
    color: #050038;
    max-width: 600px;
    margin: auto;
    padding-top: 40px;
}

// end .kg-container

// form-container
.form-container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.form-container .hr {
    width: 400px;
    border: 1px solid #b8336a;
    margin: 54px 0;
}

.form-container .form-text p {
    font: 18px/27px AlmaraiReg;
    letter-spacing: 0px;
    color: #050038;
}

.form-container .list-container .nav {
    list-style: decimal;
}

.form-container .list-container .nav li {
    font: 18px/27px AlmaraiReg;
    letter-spacing: 0px;
    color: #050038;
}

.form-container .form-section {
    background: rgba(5, 0, 56, 0.02) 0% 0% no-repeat padding-box;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 40px 80px;
}

.form-container .form-section h3 {
    font: Bold 24px/36px Almarai;
    letter-spacing: 0px;
    color: #b8336a;
}

.form-container .form-section p {
    font: Bold 18px/28px Almarai;
}

.form-container .form-section label {
    font: 18px/28px Almarai;
    letter-spacing: 0px;
    color: #050038;
}

.form-container .form-section .form-control {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #05003826;
    border-radius: 8px;
}

.form-container .form-section .form-control::placeholder,
.form-container .form-section select option {
    font: 18px/27px AlmaraiReg;
    color: #050038;
    opacity: 0.25;
}

.form-container .form-section button.btn {
    background: #a5dc79 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #a5dc7940;
    border-radius: 25px;
    padding: 12px 40px;
    font: Bold 18px/28px Almarai;
    letter-spacing: 0px;
    color: #ffffff;
    transition: all .3s ease-in-out;
}

.form-container .form-section button.btn:hover,
.form-container .form-section button.btn:focus,
.form-container .form-section button.btn:active {
  outline: none !important;
  background: #ffffff;
  color: #a5dc79;
}

.form-container .courses {
    position: relative;
    z-index: 1;
}

.form-container .courses img {
    position: absolute;
    top: 5px;
    left: -25px;
    z-index: -1;
}

.form-container .files {
    position: relative;
}

.form-container .files .form-group {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
// end form-container

//responsev

@media screen and (max-width: 991px) {
    main {
        top: 194px;
    }

    .kg-container {
        height: 508px;
    }

    .form-container {
        padding-top: 50x;
        padding-bottom: 50px;
    }

    .form-container .form-section {
        padding: 40px;
    }
}

@media screen and (max-width: 767px) {
    main {
        top: 142px;
    }

    .kg-container .kg-text h3 {
        font: 52px/80px AlmaraiLight;
    }

    .kg-container .kg-text p,
    .form-container .form-text p,
    .form-container .list-container .nav li,
    .form-container .form-section .form-control::placeholder,
    .form-container .form-section select option {
        font: 15px/27px AlmaraiReg;
    }

    .form-container .form-section h3 {
        font: Bold 19px/36px Almarai;
    }

    .form-container .form-section p,
    .form-container .form-section button.btn {
        font: Bold 15px/28px Almarai;
    }

    .form-container .form-section label {
        font: 15px/28px Almarai;
    }
}

@media (max-width: 575px) {
    main {
        top: 190px;
    }
}

// end
