<div class="modal-header">
    <h5 class="modal-title">حساب جديد</h5>
</div>
<form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="modal-body">
        <div class="form-group">
            <label for="username">اسم المستخدم</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="regForm.username"
                placeholder="...اكتب اسم المستخدم" #username="ngModel" required
                [ngClass]='{ "is-invalid":  form.submitted && !username.valid }'>
            <div *ngIf="form.submitted && !username.valid " class="alert alert-danger">
                قم بادخال اسم المستخدم
            </div>
        </div>
        <div class="form-group">
            <label for="email">البريد الالكتروني</label>
            <input type="email" name="email" [(ngModel)]="regForm.email" class="form-control"
                placeholder="...اكتب البريد الإلكتروني" #email="ngModel" required
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                [ngClass]='{ "is-invalid":  form.submitted && !email.valid }'>
            <div *ngIf=" form.submitted">
                <div *ngIf=" email.errors?.required " class="alert alert-danger">
                    قم بادخال البريد الإلكتروني
                </div>
                <div *ngIf="email.errors?.pattern" class="alert alert-danger">
                    البريد الالكتروني غير صحيح
                </div>
            </div>
        </div>
        <div class="form-group">
          <label for="address">العنوان</label>
          <input type="text" class="form-control" name="address" [(ngModel)]="regForm.address"
              placeholder="...اكتب اسم المستخدم" #address="ngModel" required
              [ngClass]='{ "is-invalid":  form.submitted && !address.valid }'>
          <div *ngIf="form.submitted && !address.valid " class="alert alert-danger">
              قم بادخال العنوان
          </div>
      </div>
        <div class="form-group">
            <label for="mobile">الجوال</label>
            <input name="mobile" [(ngModel)]="regForm.mobile" class="form-control"
                placeholder="...اكتب الجوال" #mobile="ngModel" required
                [pattern]="mobNumberPattern"
                [ngClass]='{ "is-invalid":  form.submitted && !mobile.valid }'>
              <div *ngIf=" form.submitted">
                <div *ngIf=" mobile.errors?.required " class="alert alert-danger">
                    قم بادخال الجوال
                </div>
                <div *ngIf="mobile.errors?.pattern" class="alert alert-danger">
                  يجب ادخال الرقم صحيح (يحتوي على 10 ارقام)
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="telephone">الهاتف الثابت</label>
            <input name="telephone" [(ngModel)]="regForm.telephone" class="form-control"
                placeholder="...اكتب الجوال" #telephone="ngModel" required
                [pattern]="mobNumberPattern"
                [ngClass]='{ "is-invalid":  form.submitted && !telephone.valid }'>
              <div *ngIf=" form.submitted">
                <div *ngIf=" telephone.errors?.required " class="alert alert-danger">
                    قم بادخال الهاتف الثابت
                </div>
                <div *ngIf="telephone.errors?.pattern" class="alert alert-danger">
                  يجب ادخال الرقم صحيح (يحتوي على 10 ارقام)
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">كلمة المرور</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="regForm.password"
                placeholder="...اكتب كلمة المرور" #password="ngModel" required
                [ngClass]='{ "is-invalid":  form.submitted && !password.valid }' minlength="6">
            <div *ngIf=" form.submitted">
                <div *ngIf=" password.errors?.required " class="alert alert-danger">
                    قم بادخال كلمة المرور
                </div>
                <div *ngIf="password.errors?.minlength" class="alert alert-danger">
                    كلمة المرور يجب الا تقل عن 6 احرف
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">تاكيد كلمة المرور</label>
            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="regForm.confirmPassword"
                placeholder="...اكتب تاكيد كلمة المرور" #confirmPassword="ngModel" required
                [ngClass]='{ "is-invalid":  form.submitted && !confirmPassword.valid }'>
            <div *ngIf=" form.submitted">
                <div *ngIf=" confirmPassword.errors?.required " class="alert alert-danger">
                    قم بادخال تاكيد كلمة المرور
                </div>
                <div *ngIf="!confirmPassword.errors?.required && password?.model != confirmPassword?.model"
                    class="alert alert-danger">
                    كلمة المرور لا تطابق تاكيد كلمة المرور
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="role">الدور الوظيفي</label>
            <select class="form-control" name="role" [(ngModel)]="regForm.isRole" #role="ngModel" required
                [ngClass]='{ "is-invalid":  form.submitted && !role.valid }'>
                <option value="null">قم بتحديد الدور الوظيفي</option>
                <option value="2">حاضنه</option>
                <option value="3">دور حضانه</option>
            </select>
            <div *ngIf="form.submitted && !role.valid " class="alert alert-danger">
                قم باختيار الدور الوظيفي
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">تسجيل</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="dismiss()">الغاء</button>
    </div>
</form>
