<div class="modal-header">
    <h5 class="modal-title">تعديل كلمة المرور</h5>
</div>
<form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="modal-body">
        <div class="form-group">
            <label for="password">كلمة المرور الحالية</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="regForm.oldPassword"
                placeholder="... اكتب كلمة المرور الحالية" #password="ngModel" required
                [ngClass]='{ "is-invalid":  form.submitted && !password.valid }' minlength="6">
            <div *ngIf=" form.submitted && !password.valid " class="alert alert-danger">
                قم بادخال كلمة المرور الحالية
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">كلمة المرور الجديدة</label>
            <input type="password" class="form-control" name="newPassword" [(ngModel)]="regForm.password"
                placeholder="...اكتب كلمة المرور الجديدة" #newPassword="ngModel" required
                [ngClass]='{ "is-invalid":  form.submitted && !newPassword.valid }'>
            <div *ngIf=" form.submitted">
                <div *ngIf=" newPassword.errors?.required " class="alert alert-danger">
                    قم بادخال كلمة المرور الجديدة
                </div>
                <div *ngIf="newPassword.errors?.minlength" class="alert alert-danger">
                    كلمة المرور الجديدة يجب الا تقل عن 6 احرف
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">حفظ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="dismiss()">الغاء</button>
    </div>
</form>