<main>
    <!-- main header -->
    <section id="contact-us">
        <div class="container ">
            <div class="contact-class ">
                <h3 class="my-5">تواصل معنا</h3>
                <p class="small-font text-center">
                  ‎نعمل على طمأنينة أرباب  الأسرة في أن أطفالهم في الدور المناسبة صحياً وتعليمياً وتأهيلياً لنمو وعناية أطفالهم وذلك من خلال قيمنا بكل شفافية ونزاهة وحيادية وجودة.
                </p>

            </div>
        </div>
    </section>

    <!-- main header -->


</main>
