* {
    direction: rtl;
}

.modal-body p{
    font: Bold 18px/28px Almarai;
    color: #050038;
}

.modal-body button{
    background: #a5dc79 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #a5dc7940;
    border-radius: 25px;
    width: 220px;
    height: 52px;
    text-align: center;
    font: Bold 18px/28px Almarai;
    letter-spacing: 0px;
    color: #ffffff;
}